## Transforming Data for Mongo DB, Scrape Update Script

This notebook loads csv files of data previously scraped from the web into pandas dataframes, where they are cleaned, edited, and saved to collections in our Mongo DB "wines". The wines db contains 3 collections:

* winesall - information about 2019 American wines scraped from Wine Magazine's website
* avadetails - information about American Viticulture Areas (AVAs), e.g. location, grapes grown, climate
* varietals - descriptions of wine by type with recommended cheese pairings if available

Transformations on the scraped data included changing wine prices to numeric values, formatting dates, and merging varietal information with recommended cheese pairings. There were also some manual edits and additions to values in the dataframes.

Also below is a script to update the collection "winesall" in the database with new wine reviews posted at Wine Magazine's website.

---

In [11]:
from numpy import genfromtxt
import time
from datetime import datetime
import re

import pandas as pd 
import os  #Use to create readable paths

import pymongo
import json

from splinter import Browser
from bs4 import BeautifulSoup
import requests


# function to save dataframe to collection_name in MongoDB 'wines'    
def saveMongo(df, collection_name, replace=False):
    mng_client = pymongo.MongoClient('localhost', 27017)
    mng_db = mng_client['wines'] 
    if replace:
        mng_db[collection_name].drop() 
    db_cm = mng_db[collection_name]
    data = df
    data_json = json.loads(data.to_json(orient='records', date_unit='ns'))
    #db_cm.delete_many()
    db_cm.insert_many(data_json)

## Load csv files into pandas dataframes, clean, save to mongo db

In [12]:
# read in main wine scrape csv, 2019 US wines from Wine Magazine web site, save to collection "winesall"
winesAll_path = os.path.join("../WineMag_Scrape/saveData/winesAll.csv")

df_winesAll = pd.read_csv(winesAll_path, encoding="UTF-8")
df_winesAll.columns = df_winesAll.columns.astype(str)
df_winesAll = df_winesAll[["title", "wine", "vintage", "vinyard", "variety", "avi", "region", "state", "alcohol_content", "size", "winetype", "price", "score", "dt_published", "taster"]]
df_winesAll.rename(columns={"avi": "ava"}, inplace=True)

# convert price to numeric/ nearest dollar
df_winesAll['price'] = df_winesAll['price'].str.replace('$', '', regex=True)
df_winesAll['price'] =  pd.to_numeric(df_winesAll['price'].fillna(0))
df_winesAll['price'] = df_winesAll['price'].round(0).astype(int)

# convert date published to datetime
# df_winesAll['dt_published']= pd.to_datetime(df_winesAll['dt_published']) 
df_winesAll.head()


# save to/replace collection "winesall" in "wines" mongo db
saveMongo(df_winesAll, "winesall", replace=True)

In [13]:
# read in ava details csv scraped from wikipedia, save to "avadetails" collection in db
ava_details_path = os.path.join("../Wikiwinescrape/saveData/avadetails.csv")

df_ava_details = pd.read_csv(ava_details_path, encoding="UTF-8")
df_ava_details.columns = df_ava_details.columns.astype(str)
df_ava_details = df_ava_details[["ava", "state","year","area","climate","grapes"]]

# save to/replace collection "winesall" in "wines" mongo db
saveMongo(df_ava_details, "avadetails", replace=True)

In [14]:
# read in varietals details csv, save to "varietals" collection in db
varietals_path = os.path.join("../Wikiwinescrape/saveData/varietals.csv")

df_varietals = pd.read_csv(varietals_path, encoding="UTF-8")
df_varietals.columns = df_varietals.columns.astype(str)
df_varietals = df_varietals[["name", "desc"]]

# save to/replace collection "winesall" in "wines" mongo db
saveMongo(df_varietals, "varietals", replace=True)

In [15]:
# read in pairings csv
pairing_path = os.path.join("../Wikiwinescrape/saveData/pairing.csv")

df_pairing = pd.read_csv(pairing_path, encoding="UTF-8")
df_pairing.columns = df_pairing.columns.astype(str)
df_pairing = df_pairing[["name", "cheese"]]

df_pairing["name"] = df_pairing["name"].str.lower()
df_pairing.rename(columns={"name": "matchfield"}, inplace=True)
df_pairing

,matchfield,cheese
0,barbera,Abbaye de Belloc|Banon|Fiore Sardo|Fontina|Gra...
1,blaufrankisch,Cantalet|Feta|Limburger (esp. from Bavaria)|Mo...
2,cabernet sauvignon,Abbaye de Belloc|Ardrahan|Bra Tenero|Chalosse|...
3,chardonnay,Affidelice|Alpine Shepard|Bel Paese|Bucheron|B...
4,chenin blanc,Blue Castello|Camembert|Derby|Fouchtra|Graddos...
5,gamay,Beemster XO|Brie|Camembert|Cheddar|Comte|Durru...
6,gewurztraminer,Alpine Shepard|Ardrahan|Boursin|Chevre|Durrus|...
7,gruner veltliner,Appenzeller|Brin Dâ€™Amour|Caerphilly|Chimay|Dou...
8,malbec,Cashel Blue|Iberico|Manchego|Mimolette|Taleggio
9,merlot,Abbaye de Belloc|Alpine Shepard|Cantalet|Camem...
10,muscat,Blu del Moncenisio|Fourme d'Ambert|Gorgonzola|...
11,nebbiolo,Fontina|Grana Padano|Piave
12,petit syrah,Arina|Benning|Darcy|Pierre-Qui-Vire|Saint-Flor...
13,pinot blanc,Baby Swiss|Brie|Camembert|Dry Jack|Feta|Fontin...
14,pinot gris,Asiago Fresco|Banon|Camellia|Caprino Tartufo|C...
15,pinot noir,Berkswell|Buche|Cheddar (light)|Comte|Edam|Epo...
16,riesling,Cheshire|Colby|Comte|Cotija|Edam|Gouda|Montere...
17,sangiovese,Asiago|Boschetto al Tartufo Bianchetto|Dry Jac...
18,sauvignon blanc,Abbaye de Belloc|Amarelo|Blue Castello|Brie|Bu...
19,st. laurent,Comte|Edam|French Chevre|Taleggio
20,syrah / shiraz,Cheddar (sharp)|Edam|Gouda|St. Nectaire
21,tempranillo,Azeitao|Cheddar (sharp)|Cotswold|Dubliner|Fium...
22,viognier,Blue cheeses (light)|Brillat-Savarin|Goat|Liva...
23,zinfandel,Asiago|Canestrato|Dry Sonoma Jack|Goat cheese|...
24,zweigelt,"Cheddar (sharp)|Edam|Gouda|Salers, A.O.C.|Selu..."
25,sparkling wine,Baby Swiss|Beaufort|Brie|Brillat-Savarin|Camem...
26,sweet wine / dessert wine,Blue cheeses:|Bleu des Basques Brebis|Bleu de ...
27,port,Cheddar (sharp)|Gorgonzola|Roqueforte|Stilton
28,bordeaux (red),Brie|Camembert|Chalosse|Gabletou|Roqueforte|To...
29,cÃ´tes du rhÃ´nes (red),Bleu d'Auvergne|Camembert|Chevrotin des Aravis...

## Merge varietals with cheese pairing information

In [16]:
# merge varietals and cheese pairs
df_varietals["matchfield"]=df_varietals["name"].str.lower()
df_varietals = pd.merge(df_varietals, df_pairing, on = "matchfield", how = "left")
df_varietals.head()

,name,desc,matchfield,cheese
0,AlbariÃ±o,"Spanish white wine grape that makes crisp, ref...",albariÃ±o,NaN
1,AligotÃ©,White wine grape grown in Burgundy making medi...,aligotÃ©,NaN
2,Amarone,"From Italyâ€™s Veneto Region a strong, dry, long...",amarone,NaN
3,Arneis,A light-bodied dry wine the Piedmont Region of...,arneis,NaN
4,Asti Spumante,"From the Piedmont Region of Italy, A semidry s...",asti spumante,NaN

In [17]:
# fill in sparkling wine category cheeses
df_varietals=df_varietals[['name', 'desc', 'cheese']]
spark_cheese = df_pairing.loc[(df_pairing["matchfield"]=="sparkling wine"),"cheese"].values[0]
df_varietals.loc[(df_varietals["desc"].str.contains("sparkling")) & (df_varietals["cheese"].isnull()),"cheese"] = spark_cheese
df_varietals.loc[df_varietals["name"]=="Champagne","cheese"]= spark_cheese
df_varietals.loc[(df_varietals["desc"].str.contains("sparkling"))]

,name,desc,cheese
4,Asti Spumante,"From the Piedmont Region of Italy, A semidry s...",Baby Swiss|Beaufort|Brie|Brillat-Savarin|Camem...
8,Bardolino,A light red wine from the Veneto Region of Ita...,Baby Swiss|Beaufort|Brie|Brillat-Savarin|Camem...
20,Cava,Spanish sparkling wine. Produced by the mÃ©thod...,Baby Swiss|Beaufort|Brie|Brillat-Savarin|Camem...
43,Kir,An aperitif from the Burgundy Region of France...,Baby Swiss|Beaufort|Brie|Brillat-Savarin|Camem...
65,Pinot Noir,"This is the great, noble grape of Burgundy. Di...",Berkswell|Buche|Cheddar (light)|Comte|Edam|Epo...

In [18]:
# fill in another cheese
df_varietals.loc[(df_varietals["name"]=="Petite Sirah"),"cheese"] = df_pairing.loc[df_pairing["matchfield"] == "petit syrah","cheese"].values[0]
df_varietals.loc[(df_varietals["name"]=="Petite Sirah")]

,name,desc,cheese
61,Petite Sirah,"Plum & blackberry flavors mark this deep, ruby...",Arina|Benning|Darcy|Pierre-Qui-Vire|Saint-Flor...

In [19]:
df_varietals.loc[df_varietals["name"].str.contains("Riesling")]

                     name          desc cheese
42  Johannisberg Riesling  See Riesling    NaN

In [20]:
# fill in sweet wine category cheeses, and clean up some matching varietals
sweet_cheese = df_pairing.loc[df_pairing["matchfield"].str.contains("sweet wine"),"cheese"].values[0]
df_varietals.loc[(df_varietals["desc"].str.contains("sweet")) & (df_varietals["cheese"].isnull()),"cheese"] = sweet_cheese

df_varietals.loc[df_varietals["name"]=="FumÃ© Blanc", "desc"] = df_varietals.loc[df_varietals["name"]=="Sauvignon Blanc", "desc"].values[0]
df_varietals.loc[df_varietals["name"]=="FumÃ© Blanc", "cheese"] = df_varietals.loc[df_varietals["name"]=="Sauvignon Blanc", "cheese"].values[0]
df_varietals.loc[df_varietals["name"]=="Claret", "cheese"] = df_pairing.loc[df_pairing["matchfield"]=="bordeaux (red)","cheese"].values[0]

df_varietals.loc[df_varietals["name"]=="Johannisberg Riesling", "name"] = "Riesling"
df_varietals.loc[df_varietals["name"]=="Riesling", "desc"] = "Dry, semi-sweet, sweet, and sparkling white wines made with the aromatic, white Riesling grape."
df_varietals.loc[df_varietals["name"]=="Riesling", "cheese"] = df_pairing.loc[df_pairing["matchfield"]=="riesling","cheese"].values[0]

df_varietals.loc[df_varietals["name"]=="Moscato", "desc"] = df_varietals.loc[df_varietals["name"]=="Muscat", "desc"].values[0]
df_varietals.loc[df_varietals["name"]=="Moscato", "cheese"] = df_varietals.loc[df_varietals["name"]=="Muscat", "cheese"].values[0]

df_varietals.loc[df_varietals["name"].str.contains("Pinot Gris"), "cheese"] = df_pairing.loc[df_pairing["matchfield"]=="pinot gris","cheese"].values[0]
df_varietals.loc[df_varietals["name"].str.contains("Tokay"), "cheese"] = df_pairing.loc[df_pairing["matchfield"]=="pinot gris","cheese"].values[0]
df_varietals.loc[df_varietals["name"].str.contains("Tokay"), "desc"] = df_varietals.loc[df_varietals["name"].str.contains("Pinot Gris"),"desc"].values[0]

df_varietals.loc[df_varietals["name"].str.contains("Ugni Blanc"), "desc"] = df_varietals.loc[df_varietals["name"].str.contains("Trebbiano"),"desc"].values[0]


df_varietals.loc[df_varietals["name"].str.contains("Traminer"), "desc"] =df_varietals.loc[df_varietals["name"].str.contains("GewÃ¼rztraminer"),"desc"].values[0]
df_varietals.loc[df_varietals["name"].str.contains("Traminer"), "cheese"] =df_varietals.loc[df_varietals["name"].str.contains("GewÃ¼rztraminer"),"cheese"].values[0]

# save to/replace collection "winesall" in "wines" mongo db
saveMongo(df_varietals, "varietals", replace=True)